/* *{
    border: 1px solid black;
} */

body{
    background: rgb(251,126,63);
    background: radial-gradient(circle, rgba(251,126,63,0.7988110422740524) 0%, rgba(71,70,252,1) 100%);
}


/* header  */

.headerContainer h1 {
    border: 5px double blue;
    font-family: 'Bigshot One', cursive;
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.835);
    -webkit-box-shadow: -10px 0px 13px -7px #ffffff, 10px 0px 13px -7px #ffffff, 5px 5px 19px -4px rgb(255, 255, 255); 
box-shadow: -10px 0px 13px -7px #ffffff, 10px 0px 13px -7px #ffffff, 5px 5px 19px -4px rgb(255, 255, 255);
    
}

.headerContainer h3 {
    color: white;
    font-family: 'Bigshot One', cursive;
}

/* .instructions */

.headerContainer .instructions {
    border: 3px double red;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    margin: 30px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.835);
    color: rgba(255, 204, 0, 0.868);
    -webkit-box-shadow: -10px 0px 13px -7px #eb781a, 10px 0px 13px -7px #eb781a, 5px 5px 19px -4px rgba(0, 0, 0, 0.565); 
box-shadow: -10px 0px 13px -7px #eb781a, 10px 0px 13px -7px #eb781a, 5px 5px 19px -4px rgb(255, 255, 255);
}

.instructions p {
    font-weight:600;
    font-family: 'Bigshot One', cursive;
}

/* gameboard  */

.gameBoardContainer {
    border: 5px double green;
    height: 30rem;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.835);
    -webkit-box-shadow: 5px 5px 19px 7px #FFFFFF; 
box-shadow: 5px 5px 19px 7px #FFFFFF;
}

.hameBoardContainer , .math , 
.history , .science , .music , .sports {
    width: 15%;
    text-align: center;
    border: 2px solid black;
    color: white;
    background-color: rgba(31, 31, 223, 0.817);
}

.gameBoardContainer h4 {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
}

/* math  */

.math h5  {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    color: rgba(255, 204, 0, 0.868);
    font-size: 20px;
}

.math h5:hover  {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.868);
    background-color: rgba(255, 255, 255, 0.471);
    cursor: pointer;
}

/* history  */

.history h5{
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    color: rgba(255, 204, 0, 0.868);
    font-size: 20px;
}

.history h5:hover  {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.868);
    background-color: rgba(255, 255, 255, 0.471);
    cursor: pointer;
}

/* science  */

.science h5 {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    color: rgba(255, 204, 0, 0.868);
    font-size: 20px;
}

.science h5:hover  {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.868);
    background-color: rgba(255, 255, 255, 0.471);
    cursor: pointer;
}

/* music  */

.music h5 {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    color: rgba(255, 204, 0, 0.868);
    font-size: 20px;
}

.music h5:hover  {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.868);
    background-color: rgba(255, 255, 255, 0.471);
    cursor: pointer;
}

/* sports  */

.sports h5 {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    color: rgba(255, 204, 0, 0.868);
    font-size: 20px;
}

.sports h5:hover  {
    margin: 10px;
    margin-top: 20px;
    padding: 4px;
    height: 50px;
    border: 2px solid black;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.868);
    background-color: rgba(255, 255, 255, 0.471);
    cursor: pointer;
}
